# cargo-release configuration
# Usage: cargo release 0.2.0

allow-branch = ["main"]
sign-commit = false
sign-tag = false
push = true
push-remote = "origin"
publish = false
pre-release-commit-message = "chore: release {{version}}"
tag-message = "{{version}}"
tag-prefix = "v"
tag = true
consolidate-commits = true
